spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    root: INFO
    org.springframework: INFO

